<!-- =========================
    Footer Section
============================== -->
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <a href="/">
              <img src="{{ site.baseurl }}/assets/images/logos/aocam-logo.png" alt="" width="172" height="200">
              </a>
            </figure>
          </div>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="footer-column">
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <ul class="link-list">
            <li><a href="about-us">About Us</a></li>
            <li><a href="our-projects">Our Projects</a></li>
            <li><a href="teams">Teams & Guests</a></li>
            <li><a href="newsletter">Latest News</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" href="https://instagram.com/#">
                  <span class="icon"><i class="fa fa-instagram"></i></span>
                </a>
                <a class="level-item" href="https://github.com/#">
                  <span class="icon"><i class="fa fa-github"></i></span>
                </a>
                <a class="level-item" href="https://fb.com/#">
                  <span class="icon"><i class="fa fa-facebook"></i></span>
                </a>
                <a class="level-item" href="https://twitter.com/#">
                  <span class="icon"><i class="fa fa-twitter"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
