<!-- =========================
    Banner Section
============================== -->
<section class="section section-small is-medium">
  <div class="container">
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-sixth">
        </div>
        <div class="column">
          <img src="assets/images/icons/notebook_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/wheat_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/water_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/money_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/Bible_colour.png">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
</section>
