<!-- =========================
    About Section
============================== -->
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-sixth">
        </div>
        <div class="column">
          <img src="assets/images/icons/notebook_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/wheat_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/water_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/money_colour.png">
        </div>
        <div class="column">
          <img src="assets/images/icons/Bible_colour.png">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-3 h2-aocam">Check us out on Instagram</h2>
      <div class="divider is-centered"></div>
    </div>
  </div>
</section>
