<!-- =========================
    Navigation Menu Section
============================== -->
<nav class="navbar is-fresh is-transparent is-fixed no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ site.baseurl }}/assets/images/logos/aocam-logo.png" alt="" width="172" height="100">
      </a>

    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <a href="/about-us" class="navbar-item is-secondary">
          About Us
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/our-projects" class="navbar-item is-secondary">
            Our Projects
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="community">
              Community Based Savings Groups
            </a>
            <a class="navbar-item" href="assisting">
              Assisting Children To School
            </a>
            <a class="navbar-item" href="water-access">
              Water Access
            </a>
            <a class="navbar-item" href="hope-centre">
              The Hope Centre
            </a>
          </div>
        </div>
        <a href="https://www.thehopecentrecambodia.org/" class="navbar-item is-secondary">
          Teams & Guests
        </a>
        <a href="/newsletter" class="navbar-item is-secondary">
          Newsletter
        </a>
        <a href="/#contact" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            Contact Us
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
