<!-- =========================
    Navigation Menu Section
============================== -->
<nav class="navbar is-fresh is-transparent is-fixed no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://cssninja.io">
        <img src="assets/images/logos/aocam-logo.png" alt="" width="172" height="100">
      </a>

    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <a href="#" class="navbar-item is-secondary">
          About Us
        </a>
        <a href="#" class="navbar-item is-secondary">
          Our Projects
        </a>
        <a href="#" class="navbar-item is-secondary">
          Teams & Guests
        </a>
        <a href="#" class="navbar-item is-secondary">
          Newsletter
        </a>
        <a href="#contact" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            Contact Us
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
